.wellcome-card {
  width: 327px;
  height: 500px;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 24px;
}
.greate-cofee {
  color: #fefcf7;
  text-align: center;
  font-family: "Fraunces", serif;
  font-size: 40px;
  font-weight: 900;
  line-height: 40px;
}
.start-your-morning {
  color: #fefcf7;
  text-align: center;
  font-family: Barlow;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  margin-top: 24px;
  margin-bottom: 39px;
}
.createyourPlan-btn {
  width: 217px;
  height: 56px;
  border-radius: 6px;
  background: #0e8784;
  border: none;
  color: #fefcf7;
  text-align: center;
  font-family: "Fraunces", serif;
  font-size: 18px;
  font-weight: 900;
  line-height: 25px;
}
