@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background: #fefcf7;
}

.modalGradient {
  background: linear-gradient(
    0deg,
    rgba(254, 252, 247, 0.5) 0%,
    #fefcf7 55.94%
  );
}
.home-poster-mobile {
  background-image: url(./assets/images/home/mobile/image-hero-coffeepress.jpg);
}

.home-poster-tablet {
  background-image: url(./assets/images/home/tablet/image-hero-coffeepress.jpg);
}
.home-poster-desktop {
  background-image: url(./assets/images/home/desktop/image-hero-coffeepress.jpg);
}
.svg-icon {
  fill: current;
}
.hover-bg:hover .svg-icon {
  fill: #fdd6ba;
}
